<div class="about-container">

  <!-- TEXTO CENTRADO -->
  <section class="intro-text">
    <h1 class="about-title">About Me.</h1>
    <p>I am a software developer and designer with experience in backend development and project design since 2019. I
      specialize in building efficient, scalable, and functional solutions without sacrificing creativity or user
      experience. I enjoy combining logic, architecture, and design to deliver projects that are solid, engaging, and
      easy to use.</p>
  </section>

  <div class="scroll-indicator">
    <span class="scroll-text">S c r o l l</span>
    <div class="scroll-divider"></div>
  </div>
  <!-- DOS COLUMNAS TIPO LIBRO -->
  <section class="book-layout">
    <div class="column">
      <p>
        I was born and still live in Bogotá, where I discovered my passion for programming and designing web projects. Since then, I’ve worked in backend and full-stack development, both hybrid and remotely. I currently collaborate with clients locally and internationally, creating functional, scalable, and well-designed solutions while continuing to improve my English and German to expand my professional experience.
      </p>
    </div>
  <div class="about-image">
      <img src="assets/images/Monserrate.png" alt="Monserrate, Bogotá">
     
    </div>
   
  </section>

  <section class="about-hobbies">
  <p>
    In my free time, I enjoy working as a photographer at events and exploring new cultures. I like maintaining a healthy lifestyle by exercising and spending time outdoors, which inspires me both personally and professionally.
  </p>
</section>

  <!-- GALERÍA CON SCROLL ANIMATION -->
  <section class="photo-gallery">

    <div class="photo-card theme-about"
      *ngFor="let img of ['photo1.jpg','photo2.jpg','photo3.jpg','photo4.jpeg','photo5.jpg','photo6.jpg']; let i = index"
      #photoElement [class.visible]="visiblePhotos[i]">
      <div class="photo-bg"></div>
      <div class="photo-reveal"></div>

      <div class="photo-img" [style.backgroundImage]="'url(assets/images/' + img + ')'"></div>
    </div>

  </section>
  <div class="about-instagram">
  <a href="https://www.instagram.com/katheri2nem4?igsh=Y2lvNXZueXVxeTJ2" target="_blank" rel="noopener noreferrer">
    <span>See more on Instagram</span>
  </a>
</div>

</div>