<div class="about-container">

  <!-- TEXTO CENTRADO -->
  <section class="intro-text">
    <h1 class="about-title"> {{ 'ABOUT_ME.TITLE' | translate }}</h1>
    <p> {{ 'ABOUT_ME.INTRO' | translate }}</p>
  </section>

  <div class="scroll-indicator">
    <span class="scroll-text">
      <span>S</span>
      <span>c</span>
      <span>r</span>
      <span>o</span>
      <span>l</span>
      <span>l</span>
    </span>
    <div class="scroll-divider"></div>
  </div>
  <!-- DOS COLUMNAS TIPO LIBRO -->
  <section class="book-layout">
    <div class="column">
      <p>
        {{ 'ABOUT_ME.STORY' | translate }} </p>
    </div>
    <div class="about-image">
      <img src="assets/images/Monserrate.png" alt="Monserrate, Bogotá">

    </div>

  </section>

  <section class="about-hobbies">
    <p>
      {{ 'ABOUT_ME.HOBBIES' | translate }}    </p>
  </section>

  <!-- GALERÍA CON SCROLL ANIMATION -->
  <section class="photo-gallery">

  <div class="photo-card"
       *ngFor="let img of images">

    <img [src]="'assets/images/' + img" alt="photo">

  </div>

</section>
  <div class="about-instagram">
    <a href="https://www.instagram.com/katheri2nem4?igsh=Y2lvNXZueXVxeTJ2" target="_blank" rel="noopener noreferrer">
      <span>{{ 'ABOUT_ME.INSTAGRAM' | translate }}</span>
    </a>
  </div>

</div>