<div class="about-container">

  <!-- TEXTO DE PRESENTACIÓN -->
  <div class="intro-text">
    <h1 class="about-title">About Me.</h1>

    <p>I am Katherinne Malte, a software engineer from Bogotá, Colombia.</p>
    <p>
      I combine my curiosity for technology with a passion for delivering clean, efficient solutions, continuously learning
      and exploring in a professional environment that values creativity and innovation. Since 2019,
      I have been working as a Java backend developer. Currently, I am studying English for programmers
      with Cisco and learning German to expand my international experience.
    </p>

    <p>
      In my free time, I enjoy exploring my creative side through photography, capturing moments and
      experimenting with perspectives. I also like staying active—practicing boxing, going hiking,
      and maintaining a healthy lifestyle keep me energized and focused. These activities not only
      allow me to recharge but also inspire new ideas and approaches in my professional work.
    </p>
  </div>

  <!-- GALERÍA DE FOTOS QUE APARECEN CON EL SCROLL -->
  <!-- <div class="photo-gallery">
    <div
      class="photo"
      *ngFor="let photo of photos"
      #photo
      [style.backgroundImage]="'url(' + photo + ')'"
    ></div>
  </div> -->

</div>
