<nav class="navbar">
  <div class="left">

    <!-- LOGO -->
    <a routerLink="/home" (click)="nav('home')">
      <img src="assets/images/iconoDiama.png" class="logo" alt="Logo">
    </a>

    <!-- BOTÓN MENU -->
    <span class="menu-text" (click)="toggleMenu()">
      {{ menuOpen ? 'CLOSE' : 'MENU' }}
    </span>
  </div>

  <a class="hire-me" href="mailto:katherinemalte73@gmail.com" target="_blank">
    HIRE ME
  </a>

  <!-- OVERLAY COMPLETO -->
  <div class="overlay-container" [class.open]="menuOpen">

    <div class="overlay">

      <!-- ICONOS -->
      <div class="social-row">
        <a href="https://instagram.com/tuusuario" target="_blank">
          <img src="assets/svg/instagram.svg" class="icon social-anim">
        </a>

        <a href="https://github.com/KatherineMalte" target="_blank">
          <img src="assets/svg/github.svg" class="icon social-anim">
        </a>

        <a href="https://www.linkedin.com/in/katherine-m-40a5461ba/">
          <img src="assets/svg/linkedin.svg" class="icon social-anim">
        </a>
      </div>

      <!-- LINKS DEL MENÚ -->
      <div class="menu-links social-anim">
        <a routerLink="/home"  (click)="nav('home')">Home</a>
        <a routerLink="/projects"  (click)="nav('work')">Work</a>
        <a routerLink="/about" (click)="nav('about')">About</a>
      </div>

    </div>
  </div>
</nav>
