<div class="book-container">

  <section class="book-hero">

    <!-- IZQUIERDA -->
    <div class="book-left social-anim-component">
      <h1 class="hero-name">
        {{ 'HOME.HERO_NAME' | translate }} <br>
        Katherinne Malte
      </h1>

      <p class="hero-description">
        {{ 'HOME.DESCRIPTION' | translate }}
      </p>

      <div class="scroll-indicator">
        <span class="scroll-text">
          <!-- {{'HOME.SCROLL' | translate}} -->
          <span>S</span>
          <span>c</span>
          <span>r</span>
          <span>o</span>
          <span>l</span>
          <span>l</span>
        </span>
        <div class="scroll-divider"></div>
      </div>

      <div class="hero-spacer"></div>

      <p class="hero-collab">{{ 'HOME.COLLAB' | translate }}</p>

      <p class="hero-details">
        {{ 'HOME.DETAILS' | translate }}
      </p>

      <div class="hero-btn-wrapper">
        <a routerLink="/projects" class="hero-btn">See my work</a>
      </div>
    </div>

    <div class="book-right social-anim-component">
      <app-avatar></app-avatar>
      <div class="code-window">
        <div class="code-header">
          <span></span><span></span><span></span>
        </div>

        <div class="code-body">
          <span>const developer = "Katherinne";</span>
          <span>stack = ["Java", "Spring", "Python", "angular"];</span>
          <span>build("scalable systems");</span>
          <span>export default developer;</span>
        </div>
      </div>
    </div>

  </section>
</div>