<div class="book-container">

  <!-- HERO TIPO LIBRO -->
  <section class="book-hero">

    <!-- Columna izquierda -->
    <div class="book-left">
      <h1 class="hero-name">Hi, my <br>Katherinne Malte</h1>
       <p class="hero-description">
        I'm an independent creative developer from Colombia.
      </p>
      <div class="scroll-indicator">
    <span class="scroll-text">S c r o l l</span>
    <div class="scroll-divider"></div>
  </div>
      <div class="hero-spacer"></div>

      <p class="hero-collab">Let's work together.</p>

      <p class="hero-details">
        From building solid backend systems to designing scalable web applications, I help teams and clients bring ambitious ideas to life on the web. Whether it’s crafting efficient APIs, architecting clean database schemas, or exploring modern interfaces with thoughtful design, my focus is always on creating solutions that are robust, performant and accessible. I love working on challenging problems that push boundaries and make a meaningful impact.
      </p>

      <div class="hero-btn-wrapper">
        <a routerLink="/projects" class="hero-btn">See my work</a>
      </div>
    </div>

    <!-- Columna derecha -->
    <div class="book-right">
      <div class="decorative-dots-box"></div>
    </div>

  </section>

  <!-- PROYECTOS -->
  <section class="projects-section">

    <!-- Proyecto 1 -->
    <div class="project-row">
      <div class="project-text">
        <h3>Automated Delivery Quality Reviewer</h3>
        <p>
          A Python-based tool that automatically reviews developer deliverables in formats such as Word, Excel and PDF. 
          It detects spelling errors, structural issues and inconsistencies to improve delivery quality and reduce manual review time.
        </p>
      </div>

      <div class="project-image-placeholder">
        <div class="project-img" style="background-image: url('assets/images/revisor.png')"></div>
      </div>
    </div>

    <!-- Proyecto 2 -->
    <div class="project-row">
      <div class="project-text">
        <h3>Smart Workflow Desktop Assistant</h3>
        <p>
          A desktop application designed to organize tasks, track progress and manage delivery checklists in a structured workflow environment.
          It helps developers maintain focus, consistency and productivity across projects.
        </p>
      </div>

      <div class="project-image-placeholder">
        <div class="project-img" style="background-image: url('assets/images/img.png')"></div>
      </div>
    </div>

  </section>

</div>