Hi, my name is <br>
<strong>Katherinne Malte Software Engineer · Full-Stack Developer</strong><br><br>
I’m from Bogotá, Colombia.
Las estrellas son cuerpos celestes que emiten luz y calor de manera propia. Esta energía se produce en su interior <br>mediante procesos físicos que permiten que brillen de manera constante, y es lo que las hace visibles incluso desde distancias enormes.

×
En realidad, las estrellas son grandes esferas luminosas compuestas de plasma. A pesar de hallarse en continua combustión, <br>conservan su propia forma gracias a la enorme fuerza de gravedad que generan.

Las estrellas se distribuyen por todo el universo y forman parte de los cúmulos estelares y las galaxias. La más cercana al <br>planeta Tierra es el Sol, que lo provee de luz y calor. Sin embargo, existen en el universo observable miles de millones de estrellas.

A pesar de que todas emiten distintos tipos de luz y calor, apenas un pequeño porcentaje pueden ser captadas por el ojo humano, incluso con la ayuda <br>de un telescopio. Alrededor de algunas de ellas giran, como ocurre en nuestro sistema solar, astros opacos como planetas, meteoritos o cometas, atrapados en su enorme gravedad.

La humanidad ha observado las estrellas desde tiempos muy remotos, y ha querido ver en ellas formas, mensajes ocultos o evidencias de sus dioses. <br>Las estrellas han servido para la elaboración de los primeros calendarios, así como para la cartografía y la navegación. En tiempos recientes, la observación astronómica ha comprendido mucho más sobre ellas, sus distintos orígenes y composición.


Las estrellas se forman a partir de enormes nubes de gas y polvo que existen en las galaxias, llamadas “nebulosas”.

Bajo la acción de la gravedad, estas nubes comienzan a comprimirse y a aumentar su densidad y temperatura en su núcleo. Cuando las condiciones internas <br>son suficientes para iniciar las reacciones que producen luz y calor, se forma un cuerpo luminoso y estable denominado “estrella”.

Las estrellas están formadas por hidrógeno (71 %) y helio (27 %), con un pequeño porcentaje (2 %) de otros elementos, como el hierro y el nitrógeno, que <br>son fundamentales para la formación de planetas y de la vida tal como la conocemos.

En realidad, las estrellas son grandes esferas luminosas compuestas de plasma. A pesar de hallarse en continua combustión, <br>conservan su propia forma gracias a la enorme fuerza de gravedad que generan.

Las estrellas se distribuyen por todo el universo y forman parte de los cúmulos estelares y las galaxias. La más cercana al <br>planeta Tierra es el Sol, que lo provee de luz y calor. Sin embargo, existen en el universo observable miles de millones de estrellas.

A pesar de que todas emiten distintos tipos de luz y calor, apenas un pequeño porcentaje pueden ser captadas por el ojo humano, incluso con la ayuda <br>de un telescopio. Alrededor de algunas de ellas giran, como ocurre en nuestro sistema solar, astros opacos como planetas, meteoritos o cometas, atrapados en su enorme gravedad.

La humanidad ha observado las estrellas desde tiempos muy remotos, y ha querido ver en ellas formas, mensajes ocultos o evidencias de sus dioses. <br>Las estrellas han servido para la elaboración de los primeros calendarios, así como para la cartografía y la navegación. En tiempos recientes, la observación astronómica ha comprendido mucho más sobre ellas, sus distintos orígenes y composición.


Las estrellas se forman a partir de enormes nubes de gas y polvo que existen en las galaxias, llamadas “nebulosas”.

Bajo la acción de la gravedad, estas nubes comienzan a comprimirse y a aumentar su densidad y temperatura en su núcleo. Cuando las condiciones internas <br>son suficientes para iniciar las reacciones que producen luz y calor, se forma un cuerpo luminoso y estable denominado “estrella”.

Las estrellas están formadas por hidrógeno (71 %) y helio (27 %), con un pequeño porcentaje (2 %) de otros elementos, como el hierro y el nitrógeno, que <br>son fundamentales para la formación de planetas y de la vida tal como la conocemos.

En realidad, las estrellas son grandes esferas luminosas compuestas de plasma. A pesar de hallarse en continua combustión, <br>conservan su propia forma gracias a la enorme fuerza de gravedad que generan.

Las estrellas se distribuyen por todo el universo y forman parte de los cúmulos estelares y las galaxias. La más cercana al <br>planeta Tierra es el Sol, que lo provee de luz y calor. Sin embargo, existen en el universo observable miles de millones de estrellas.

A pesar de que todas emiten distintos tipos de luz y calor, apenas un pequeño porcentaje pueden ser captadas por el ojo humano, incluso con la ayuda <br>de un telescopio. Alrededor de algunas de ellas giran, como ocurre en nuestro sistema solar, astros opacos como planetas, meteoritos o cometas, atrapados en su enorme gravedad.

La humanidad ha observado las estrellas desde tiempos muy remotos, y ha querido ver en ellas formas, mensajes ocultos o evidencias de sus dioses. <br>Las estrellas han servido para la elaboración de los primeros calendarios, así como para la cartografía y la navegación. En tiempos recientes, la observación astronómica ha comprendido mucho más sobre ellas, sus distintos orígenes y composición.


Las estrellas se forman a partir de enormes nubes de gas y polvo que existen en las galaxias, llamadas “nebulosas”.

Bajo la acción de la gravedad, estas nubes comienzan a comprimirse y a aumentar su densidad y temperatura en su núcleo. Cuando las condiciones internas <br>son suficientes para iniciar las reacciones que producen luz y calor, se forma un cuerpo luminoso y estable denominado “estrella”.

Las estrellas están formadas por hidrógeno (71 %) y helio (27 %), con un pequeño porcentaje (2 %) de otros elementos, como el hierro y el nitrógeno, que <br>son fundamentales para la formación de planetas y de la vida tal como la conocemos.

En realidad, las estrellas son grandes esferas luminosas compuestas de plasma. A pesar de hallarse en continua combustión, <br>conservan su propia forma gracias a la enorme fuerza de gravedad que generan.

Las estrellas se distribuyen por todo el universo y forman parte de los cúmulos estelares y las galaxias. La más cercana al <br>planeta Tierra es el Sol, que lo provee de luz y calor. Sin embargo, existen en el universo observable miles de millones de estrellas.

A pesar de que todas emiten distintos tipos de luz y calor, apenas un pequeño porcentaje pueden ser captadas por el ojo humano, incluso con la ayuda <br>de un telescopio. Alrededor de algunas de ellas giran, como ocurre en nuestro sistema solar, astros opacos como planetas, meteoritos o cometas, atrapados en su enorme gravedad.

La humanidad ha observado las estrellas desde tiempos muy remotos, y ha querido ver en ellas formas, mensajes ocultos o evidencias de sus dioses. <br>Las estrellas han servido para la elaboración de los primeros calendarios, así como para la cartografía y la navegación. En tiempos recientes, la observación astronómica ha comprendido mucho más sobre ellas, sus distintos orígenes y composición.


Las estrellas se forman a partir de enormes nubes de gas y polvo que existen en las galaxias, llamadas “nebulosas”.

Bajo la acción de la gravedad, estas nubes comienzan a comprimirse y a aumentar su densidad y temperatura en su núcleo. Cuando las condiciones internas <br>son suficientes para iniciar las reacciones que producen luz y calor, se forma un cuerpo luminoso y estable denominado “estrella”.

Las estrellas están formadas por hidrógeno (71 %) y helio (27 %), con un pequeño porcentaje (2 %) de otros elementos, como el hierro y el nitrógeno, que <br>son fundamentales para la formación de planetas y de la vida tal como la conocemos.

En realidad, las estrellas son grandes esferas luminosas compuestas de plasma. A pesar de hallarse en continua combustión, <br>conservan su propia forma gracias a la enorme fuerza de gravedad que generan.

Las estrellas se distribuyen por todo el universo y forman parte de los cúmulos estelares y las galaxias. La más cercana al <br>planeta Tierra es el Sol, que lo provee de luz y calor. Sin embargo, existen en el universo observable miles de millones de estrellas.

A pesar de que todas emiten distintos tipos de luz y calor, apenas un pequeño porcentaje pueden ser captadas por el ojo humano, incluso con la ayuda <br>de un telescopio. Alrededor de algunas de ellas giran, como ocurre en nuestro sistema solar, astros opacos como planetas, meteoritos o cometas, atrapados en su enorme gravedad.

La humanidad ha observado las estrellas desde tiempos muy remotos, y ha querido ver en ellas formas, mensajes ocultos o evidencias de sus dioses. <br>Las estrellas han servido para la elaboración de los primeros calendarios, así como para la cartografía y la navegación. En tiempos recientes, la observación astronómica ha comprendido mucho más sobre ellas, sus distintos orígenes y composición.


Las estrellas se forman a partir de enormes nubes de gas y polvo que existen en las galaxias, llamadas “nebulosas”.

Bajo la acción de la gravedad, estas nubes comienzan a comprimirse y a aumentar su densidad y temperatura en su núcleo. Cuando las condiciones internas <br>son suficientes para iniciar las reacciones que producen luz y calor, se forma un cuerpo luminoso y estable denominado “estrella”.

Las estrellas están formadas por hidrógeno (71 %) y helio (27 %), con un pequeño porcentaje (2 %) de otros elementos, como el hierro y el nitrógeno, que <br>son fundamentales para la formación de planetas y de la vida tal como la conocemos.

En realidad, las estrellas son grandes esferas luminosas compuestas de plasma. A pesar de hallarse en continua combustión, <br>conservan su propia forma gracias a la enorme fuerza de gravedad que generan.

Las estrellas se distribuyen por todo el universo y forman parte de los cúmulos estelares y las galaxias. La más cercana al <br>planeta Tierra es el Sol, que lo provee de luz y calor. Sin embargo, existen en el universo observable miles de millones de estrellas.

A pesar de que todas emiten distintos tipos de luz y calor, apenas un pequeño porcentaje pueden ser captadas por el ojo humano, incluso con la ayuda <br>de un telescopio. Alrededor de algunas de ellas giran, como ocurre en nuestro sistema solar, astros opacos como planetas, meteoritos o cometas, atrapados en su enorme gravedad.

La humanidad ha observado las estrellas desde tiempos muy remotos, y ha querido ver en ellas formas, mensajes ocultos o evidencias de sus dioses. <br>Las estrellas han servido para la elaboración de los primeros calendarios, así como para la cartografía y la navegación. En tiempos recientes, la observación astronómica ha comprendido mucho más sobre ellas, sus distintos orígenes y composición.


Las estrellas se forman a partir de enormes nubes de gas y polvo que existen en las galaxias, llamadas “nebulosas”.

Bajo la acción de la gravedad, estas nubes comienzan a comprimirse y a aumentar su densidad y temperatura en su núcleo. Cuando las condiciones internas <br>son suficientes para iniciar las reacciones que producen luz y calor, se forma un cuerpo luminoso y estable denominado “estrella”.

Las estrellas están formadas por hidrógeno (71 %) y helio (27 %), con un pequeño porcentaje (2 %) de otros elementos, como el hierro y el nitrógeno, que <br>son fundamentales para la formación de planetas y de la vida tal como la conocemos.

