<div class="panel" [ngClass]="panelThemeClass">

  <!-- Navbar -->
  <app-navbar 
    (themeChange)="requestThemeChange($event)" 
    (toggleMenuEvent)="menuOpen = $event"
    [menuOpen]="menuOpen">
  </app-navbar>

  <!-- Panel gris / menú -->
  <div class="overlay-container" [class.open]="menuOpen"></div>

  <!-- Overlay de transición -->
  <div 
    #transitionOverlay
    class="transition-overlay"
    [class.active]="isTransitioning"
    [class.fading-out]="isFadingOut">

    <!-- Loader de punticos SIEMPRE va aquí -->
    <app-loading *ngIf="isLoading"></app-loading>

  </div>

  <!-- Contenido de la app -->
  <div class="content">
    <router-outlet (activate)="startTransition()"></router-outlet>
  </div>

</div>
