.panel {
   position: relative;
  width: 96%;
  height: 96%;
  margin: auto;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
}
.overlay-container.open {
  top: 0; /* se desliza hacia abajo */
}

.overlay-container {
  position: absolute;       /* relativo al panel gris */
  top: -100%;               /* fuera del panel al inicio */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(154, 64, 182);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: top 0.5s ease;
  z-index: 1;
}

/* Fondos pastel permanentes */
.theme-home { background: #fff0ff; }  /* lila pastel */
.theme-work { background: rgba(247, 229, 192, 0.906); }  /* naranja */
.theme-about { background: #edf8c3; } /* verde pastel */

.transition-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--transition-color, transparent);
  transition: top 0.4s ease, opacity 0.4s ease;
  opacity: 0;
  pointer-events: none;
  z-index: 10;
}

.transition-overlay.active {
  top: 0;
  opacity: 1;
}

.transition-overlay:not(.active) {
  top: -100%;
  opacity: 0;
}





