<div 
class="panel"
[ngClass]="panelThemeClass">
<app-intro-overlay></app-intro-overlay>
  <!-- Navbar -->
  <app-navbar 
    [menuOpen]="menuOpen"
    (menuAction)="handleMenuAction($event)"
    >
  </app-navbar>

  <!-- Panel gris / menú -->
  <div class="overlay-container" 
   [style.background-color]="color || null"
   [class.open]="menuOpen">
  </div>

  <!-- Overlay de transición -->
  <div 
  class="transition-overlay" 
  [class.active]="isTransitioning" 
  [class.fading-out]="isFadingOut">
  <!-- <app-loading *ngIf="isLoading"></app-loading> -->
  </div>

  <!-- Contenido de la app -->
  <div class="content">
    <router-outlet (activate)="startTransition()"></router-outlet>
  </div>

</div>