.panel {
  position: fixed;
  width: 98%;
  height: 98%;
  min-height: 100vh;
  /* ocupar toda la altura de la pantalla */
  margin: 0 auto;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: transparent;
  transition: background 0.35s ease;
}
.panel-content {
  overflow-y: auto;
  height: 100%;
}
/*margen a los comp*/
.content {
  padding: 80px;
}

.overlay-container {
  position: absolute;
  top: -100%;
  /* fuera del panel al inicio */
  left: 40;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1000;
}
.overlay-container.open {
  top: 0;
  transition: top 1.0s ease;
}
.overlay-container.closing {
  transition: top 0.1s ease;
  /* sube rápido */
}
/* Fondos pastel permanentes */
.theme-home {
  background: #fff0ff;
  --text-color: #4A3F4E;
}

.theme-work {
  background: rgba(247, 229, 192, 0.906);
  --text-color: #3E3A34;
}

.theme-about {
  background: #edf8c3;
  --text-color: #2F3E2F;
}

/* Overlay temporal */
.transition-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--transition-color, transparent);
  transform: translateY(-100%);
  opacity: 1;
  transition: transform 0.8s ease, opacity 0.8s ease;
  z-index: 999999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Baja desde arriba */
.transition-overlay.active {
  transform: translateY(0);
}

/* Desaparece hacia abajo */
.transition-overlay.fading-out {
  transform: translateY(100%);
  opacity: 0;
}
.transition-overlay.isLoading {
  opacity: 0;
  transition: opacity var(--transition-color) ease;
}
:root {
  --transition-color: 0.2s; /* mismo tiempo para overlay y loading */
}

@media (max-width: 768px) {
  .panel {
    width: 95%;   /* un poco más de margen */
    height: 97%;
  }
}