@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
  font-family: "Times New Roman", Times, serif,'Poppins', sans-serif;
}
body {
  color: var(--primary-text-color);
}

h1, h2, h3, p, span {
  color: var(--primary-text-color);
  font-weight: 800;
}

p, a, li {
  font-weight: 400;
}

.navbar {
  font-family: "Lucida Console", "Courier New", monospace; /* o la que quieras */
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.9px;
}
.navbar-divider {
  width: 1px;
  height: 30px;
  background-color: #3b3a38; /* tu dorado café */
  margin: 0 30px;
  opacity: 0.6; /* más elegante */
}
/* Contenedor centrado debajo del texto */
.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px; /* espacio desde el texto */
}
/* Texto que se mueve al hover */
.scroll-text {
  font-size: 0.9rem;
  letter-spacing: 0.3em;
  color: #3b3a38;  /* mismo color de línea */
  opacity: 0.7;
  transition: transform 0.3s ease, opacity 0.3s ease;
  cursor: default;
}

.scroll-text:hover {
  transform: translateY(-5px); /* sube un poco */
  opacity: 1;
}

/* Línea vertical */
.scroll-divider {
  width: 1px;
  height: 400px;
  background-color: #3b3a38;
  margin-top: 5px; /* separación del texto */
  opacity: 0.6;
}
:root {
  --primary-text-color: #4A3F4E;
  --logo-color: #7A5C8A;
}

.theme-admin {
  --primary-text-color: #3E3A34;
  --logo-color: #8C6E4E;
}

.theme-client {
  --primary-text-color: #2F3E2F;
  --logo-color: #4F6F52;
}
.logo {
  filter: drop-shadow(0 0 5px var(--logo-color));
}