@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap');

* {
  font-family: "Times New Roman", Times, serif,'Poppins', sans-serif;
}
body {
  color: var(--primary-text-color);
}

h1, h2, h3, p, span {
  color: var(--primary-text-color);
  font-weight: 500;
}

 a, li,ul {
  font-weight: 400;
}

.navbar {
  font-family: "Lucida Console", "Courier New", monospace; /* o la que quieras */
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1.9px;
}
.navbar-divider {
  width: 1px;
  height: 30px;
  background-color: #3b3a38; /* tu dorado café */
  margin: 0 30px;
  opacity: 0.6; /* más elegante */
}

.scroll-indicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

/* TEXTO */
.scroll-text {
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 6px;

  /* gradiente de colores */
  background: linear-gradient(
    90deg,
    #ff6ec4,
    #7873f5,
    #4facfe,
    #43e97b,
    #ff6ec4
  );
  background-size: 300%;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  animation: colorFlow 6s linear infinite;
}

/* cada letra */
.scroll-text span {
  display: inline-block;
}

/* movimiento cuando pasas el cursor */
.scroll-text:hover span {
  animation: shake 0.4s infinite alternate;
}

/* delays para que se muevan diferente */
.scroll-text span:nth-child(1) { animation-delay: 0s; }
.scroll-text span:nth-child(2) { animation-delay: 0.05s; }
.scroll-text span:nth-child(3) { animation-delay: 0.1s; }
.scroll-text span:nth-child(4) { animation-delay: 0.15s; }
.scroll-text span:nth-child(5) { animation-delay: 0.2s; }
.scroll-text span:nth-child(6) { animation-delay: 0.25s; }

/* animación del color */
@keyframes colorFlow {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 300%;
  }
}

/* sacudida suave */
@keyframes shake {
  0% {
    transform: translateY(0px) rotate(0deg);
  }
  100% {
    transform: translateY(-3px) rotate(2deg);
  }
}

/* línea del scroll */
.scroll-divider {
  width: 1px;
  height: 400px;
  background: #aaa;
  margin-top: 10px;
  animation: scrollLine 1.5s infinite;
}

@keyframes scrollLine {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  50% {
    transform: translateY(10px);
    opacity: 0.5;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

:root {
  --primary-text-color: #4A3F4E;
  --logo-color: #7A5C8A;
}

.theme-admin {
  --primary-text-color: #3E3A34;
  --logo-color: #8C6E4E;
}

.theme-client {
  --primary-text-color: #2F3E2F;
  --logo-color: #4F6F52;
}
.logo {
  filter: drop-shadow(0 0 5px var(--logo-color));
}