.intro-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--home-color, transparent);
  transform: translateY(-100%);
  opacity: 1;
  transition: transform 0.6s ease, opacity 0.2s ease;
  z-index: 999999;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* BAJAR */
.intro-overlay[data-active="true"]  {
  transform: translateY(0);
}

/* SUBIR Y DESVANECER */
.intro-overlay[data-fadeout="true"] {
  transform: translateY(100%);
  opacity: 0;
}