.intro-overlay {
  position: absolute;
  inset: 0;
  z-index: 999999;
  pointer-events: none;
  overflow: hidden;

  background-color: var(--intro-color, transparent);

  /* efecto wipe: empieza arriba () */
  transform: translateY(0);

  /* animación de 8s, delay de 2s para quedarse quieto */
  transition: transform 5s cubic-bezier(0.25, 0.1, 0.25, 1) 2s;
}

.intro-overlay.erase {
  transform: translateY(100%); /* baja desde arriba hacia abajo */
}

.loader-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
