.intro-overlay {
  position: absolute;
  inset: 0;
  background-color: var(--home-color, transparent);
  z-index: 999999;
  pointer-events: none;

  opacity: 1;
  transform: translateY(0);
  transition: transform 1s ease, opacity 1s ease;
}

.intro-overlay[data-fadeout="true"] {
  opacity: 0;
  transform: translateY(200px);
}
